<header class="bg-blue-500 text-white py-4 sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{% url 'home' %}" class="text-2xl font-semibold"
            >Hospital Management System</a
        >
        <!-- Navigation links -->
        <nav>
            <ul class="flex space-x-4">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}" class="hover:underline">Home</a>
                </li>
                <li><a href="#" class="hover:underline">About</a></li>
                <li><a href="#" class="hover:underline">Contact</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="text-white">Logout</button>
                    </form>
                </li>
                {% else %}
                <li>
                    <a class="text-white" href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a class="text-white" href="{% url 'register' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
