{% include "base.html" %} {%load tailwind_filters %} {% block content %}
<div class="container mx-auto">
    <h2 class="text-2xl font-semibold mb-4">Book an Appointment</h2>
    <!-- Appointment Booking form -->
    <section id="book_appointment" class="mb-8">
        <form
            id="book_appointment_form"
            method="POST"
            class="flex justify-center space-x-4"
        >
            {% csrf_token %}
            <!-- Doctor dropdown -->
            <select
                id="doctor_dropdown"
                name="doctor"
                class="w-1/2 px-4 py-2 border rounded"
            >
                {% for doctor in doctors %}
                <option value="{{ doctor.id }}">
                    {{ doctor.user.username }}
                </option>
                {% endfor %}
            </select>
            <!-- Date and Time picker -->
            <input
                type="datetime-local"
                name="appointment_time"
                class="w-full px-4 py-2 border rounded"
            />
            <button
                type="submit"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            >
                Book Appointment
            </button>
        </form>
    </section>

    <script>
        document
            .getElementById("doctor_dropdown")
            .addEventListener("change", function () {
                var selectedDoctorId = this.value;
                var formAction = "/book_appointment/" + selectedDoctorId + "/";
                document.getElementById("book_appointment_form").action =
                    formAction;
            });
    </script>
</div>
{% endblock %}
