{% extends 'base.html' %} {% block content %}
<div class="container mx-auto">
    <div class="mt-8">
        <h2 class="text-2xl font-bold mb-4">{{ doctor.user.get_full_name }}</h2>
        {% comment %}
        <img
            src="{{ doctor.profile_picture.url }}"
            alt="Profile Picture"
            class="w-32 h-32 rounded-full mb-4"
        />
        {% endcomment %}
        <p><strong>Username:</strong> {{ doctor.user.username }}</p>
        <p>
            <strong>Email:</strong> {% if doctor.user.email %} {{
            doctor.user.email }}
        </p>
        {% else %}
        <span class="text-slate-300"> Not provided </span>
        {% endif %}

        <p><strong>Expertise:</strong> {{ doctor.expertise }}</p>
        <div class="card border px-4 py-2 my-4">
            <h3 class="text-lg font-semibold mt-4 mb-2">Appointments:</h3>
            {% if appointments %}
            <ul class="menu rounded-box">
                {% for appointment in appointments %}
                <li>
                    <a>
                        {{ appointment.appointment_date }} -
                        {{appointment.patient}}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No appointments yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
