{% include "base.html" %} {%load tailwind_filters %} {% block content %} {%
block content %}
<div class="container mx-auto">
    <h2 class="text-2xl font-semibold mb-4">Submit a Review</h2>
    <form method="post" class="w-full max-w-lg">
        {% csrf_token %} {{ form|crispy }} {{ form.as_p }}
        <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
        >
            Submit Review
        </button>
    </form>
</div>
{% endblock %}
